In [1]:
# Taking sales and expense input from the user
sales = float(input("Enter the total sales amount: "))
expense = float(input("Enter the total expense amount: "))

# Calculating profit
profit = sales - expense

# Printing the profit
print(f"Profit: {profit}")

# Checking if the profit is greater than 9000 and printing the appropriate message
if profit > 9000:
    print("Good profit")
    print("Congratulations!")
else:
    print("Poor profit")
    print("Work hard!")

Enter the total sales amount:  100000
Enter the total expense amount:  50000

Profit: 50000.0
Good profit
Congratulations!

In [3]:
sales = int(input("enter the sales amount: "));
expense = int(input("Enter the expense amount: "));
profit = sales - expense;
print (profit)
if profit > 9000:
    print("Good profit")
    print("congrats")
else:
    print("poor profit")
    print("workhard")

enter the sales amount:  50000
Enter the expense amount:  1000

49000
Good profit
congrats

In [7]:

##Task 1: take sales,expense as input from user 
'''
Calculate the profit (sales – exp) 

If profit > 9000, print "good profit" & "congratulation 

Else print "poor profit" & work-hard" 
'''

'\nCalculate the profit (sales – exp) \n\nIf profit > 9000, print "good profit" & "congratulation \n\nElse print "poor profit" & work-hard" \n'

In [ ]:
#task2
'''
Task 2:
Program to print performamce of company depending on qty sold
take qty sold value from user
qty_sold >= 900 ... print excellent performace
qty_sold >= 750 ... print above average performace
qty_sold >= 500 ... print average performace
else print poor performance
'''

In [8]:
# Get quantity sold from the user
qty_sold = int(input("Enter the quantity sold: "))

# Determine performance based on quantity sold
if qty_sold >= 900:
    print("Excellent performance")
elif qty_sold >= 750:
    print("Above average performance")
elif qty_sold >= 500:
    print("Average performance")
else:
    print("Poor performance")

Enter the quantity sold:  400

Poor performance

In [9]:
qty= int(input("enter the quantity sold: "))
if qty>=900:
    print("excellent")
elif qty>=750:
    print("above average performance")
elif qty>=500:
    print("avg performance")
else:
    print("need to work hard")

enter the quantity:  400

need to work hard

In [13]:
## input in interger data type for get input we use Input function value to assign is qty, qty is the value
qty= int(input("enter the quantity sold: "))
## print function ("string", value)
print("the quantity you sold is ",qty)
## coditional statement ":" is important for this syntax
## if statement and logic function
if (qty>=900):
## print for thhe above logic function
    print("excellent")
## elif statement and logic function
elif (qty>=750):
## print for thhe above logic function
    print("above average performance")
## elif statement and logic function
elif (qty>=500):
## print for thhe above logic function
    print("avg performance")
## else statement and logic function
else:
## if nothing statisfy print
    print("need to work hard")

enter the quantity sold:  1000

the quantity you sold is  1000
excellent

In [ ]:
## task 3
'''
Task 3:
Take salary as input fron user
Check if salary <=0 and > 300000 ==> print invalid salary
salary between 0 and 50000 ==> print Junior Manager
salary between 50000 and 100000 ==> print Middle Level Manager
salary between 100000 and 300000 ==> print Senior Manager
'''

In [15]:
# Get salary input from the user
salary = float(input("Enter the salary: "))

# Check and print the job title based on salary
if salary <= 0 or salary > 300000:
    print("Invalid salary")
elif salary <= 50000:
    print("Junior Manager")
elif salary <= 100000:
    print("Middle Level Manager")
elif salary <= 300000:
    print("Senior Manager")

Enter the salary:  50000

Junior Manager

In [18]:
salary = float(input("Enter the salary: "))
print ("Entered salary amount is : ",salary)
if (salary <= 0) or (salary > 300000):
    print("Invalid salary")
elif (salary <= 50000):
    print("Junior Manager")
elif (salary <= 100000):
    print("Middle Level Manager")
elif salary <= 300000:
    print("Senior Manager")

Enter the salary:  1000

Entered salary amount is :  1000.0
Junior Manager

In [23]:
salary = float(input("Enter the salary: "))
print ("Entered salary amount is : ",salary)
if (salary <= 0 or salary > 300000):
    print ("invalid salary")
elif(salary>0 and salary<=50000):
    print("junior manager")
elif(salary>50000 and salary<=100000):
    print("middle level manger");
elif(salary>100000 and salary <= 300000):
    print("senior manager")

Enter the salary:  0

Entered salary amount is :  0.0
invalid salary

In [ ]:
'''
Task 4:
Take a number input from user
Using for loop, print the table for that number
7 x 1 = 7
7 x 2 = 14
Hint : print(num, "x", i, "=", prod) which should be in for loop
'''

In [24]:
# Get number input from the user
num = int(input("Enter a number: "))

# Print the multiplication table for the entered number
for i in range(1, 11):
    prod = num * i
    print(num, "x", i, "=", prod)

Enter a number:  6

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [25]:
# Get number input from the user
num = int(input("Enter a number: "))

# Print the multiplication table for the entered number
for i in range(0, 11):
    prod = num * i
    print(num, "x", i, "=", prod)

Enter a number:  6

6 x 0 = 0
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [29]:
multy = int(input("Enter a number: "))
print("multiplication table for value : ",multy)
for i in range(1, 11):
    prod = multy * i
    print(multy, "x", i, "=", prod)

Enter a number:  7

multiplication table for value :  7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [31]:
multi = int(input("Multiplication value: "))
print ("multiplicaton number: ",multi)
i = 1
while (i <= 10):
    product = multi * i
    print (multi," x ",i," = ",product)
    i=i+1
else:
    print("good")

Multiplication value:  7

multiplicaton number:  7
7  x  1  =  7
7  x  2  =  14
7  x  3  =  21
7  x  4  =  28
7  x  5  =  35
7  x  6  =  42
7  x  7  =  49
7  x  8  =  56
7  x  9  =  63
7  x  10  =  70
good

In [ ]:
# take a number as in put and calculate its factorial using while loop
## eg: 4 factorial = 4*3*2*1 = 24

In [49]:
fact = int(input("factorial value: "))
while (fact>=1):
    val = fact
    facto = fact * val
    print(facto)
    fact = fact -1

factorial value:  5

25
16
9
4
1

In [51]:
fact = int(input("factorial value: "))
val=1
while (fact>=1):
    facto = fact * val
    print(facto)
    fact = fact -1
    val = fact-1

factorial value:  5

5
12
6
2
0

In [ ]:
'''
fact = int(input("factorial value: "))
print ("factorial", fact)
if (fact==0):
    print ("factorial of 0 is : 1")
else:
    i=1
    while(i<=fact):
        fact = fact * i
        i = fact
        print(i)
'''

In [70]:
facto = int(input("Enter a number: "))
result = 1

while facto > 0:
    result *= facto
    facto -= 1
    print("Factorial:", result)

Enter a number:  4

Factorial: 4
Factorial: 12
Factorial: 24
Factorial: 24

In [87]:
n = int(input("give value: "))
r = 1
while (n>1):
    r = n*r
    n=n-1
print(r)

give value:  5

120

In [86]:
n = int(input("give value: "))
re =1
while (n>1):
    re=n*re
    n=n-1
    print(re)

give value:  6

6
30
120
360
720

In [84]:
n = int(input("give value: "))
x = n-1
fe = re * x
while (n>0):
    re = n *x
    n=n-1
print(fe)

give value:  4

72

In [75]:
n = 5
if (n<0):
    print ("factorial does not exist for negative value")
elif (n ==0):
    print  ("the factorial of 0 is 1")
else:
    fact = 1
    while (n>0):
        fact = fact * n
        n=n-1
        print("the fact is", fact)

the fact is 5
the fact is 20
the fact is 60
the fact is 120
the fact is 120

In [37]:
# Get number input from the user
num = int(input("Enter a number: "))

# Initialize factorial to 1 (since the factorial of 0 is 1)
factorial = 1

# Initialize counter to 1
i = 1

# Calculate factorial using while loop
while i <= num:
    factorial *= i
    i += 1

# Print the factorial
print("The factorial of", num, "is", factorial)

Enter a number:  5

The factorial of 5 is 120

In [ ]:
#dictonary

In [40]:
employee {'easvar' : 5000}

SyntaxError: invalid syntax (2599333022.py, line 1)

In [41]:
# task : create a new dictionary from start by taking from the user
# input will be name and salary. 5 employee names and its salary
emp = {}
for i in range(1,4):
    name = input("enter the name: ")
    sal = int(input("enter the salary"))
    emp[name] = sal
print("employee data",emp)

enter the name:  easvar
enter the salary 100000
enter the name:  gayathri
enter the salary 10000000
enter the name:  vns
enter the salary 145415411

employee data {'easvar': 100000, 'gayathri': 10000000, 'vns': 145415411}

In [42]:
# code to take input from user and delete the key value pair
delname = input("enter the name you want deleted: ")
del emp[delname]

enter the name you want deleted:  vns

In [43]:
emp

{'easvar': 100000, 'gayathri': 10000000}

In [46]:
emp['easvar'] = 2000000
emp

{'easvar': 2000000, 'gayathri': 10000000}

Files

In [47]:
n = 5
if (n<0):
    print ("factorial does not exist for negative value")
elif (n ==0):
    print  ("the factorial of 0 is 1")
else:
    fact = 1
    while (n>0):
        fact = fact * n
        n=n-1
        print("the fact is", fact)

the fact is 5
the fact is 20
the fact is 60
the fact is 120
the fact is 120

In [6]:
def product_of_consecutive_integers(n):
    product = 1
    i = 0
    while n - i > 0:
        product *= (n - i)
        i += 1
    return product

# Example usage:
n = int (input("enter the number"))
result = product_of_consecutive_integers(n)
print(f"The product of consecutive integers starting from {n} until one term becomes zero is: {result}")

enter the number 5

The product of consecutive integers starting from 5 until one term becomes zero is: 120