In [ ]:
#if else statement

In [ ]:
# write a if else statement which will print hippo is heavier / rihno is heavier

In [4]:
hippo = 800
rhino = 600

if(hippo > rhino):
 print ("hippo is heavier")
else:
 print ("rihno is heavier")

hippo is heavier

In [5]:
hippo = 800
rhino = 800

if(hippo > rhino):
 print ("hippo is heavier")
else:
 print ("rihno is heavier")

rihno is heavier

In [8]:
hippo = 800
rhino = 800

if (hippo == rhino):
 print ("both equal")
if(hippo > rhino):
 print ("hippo is heavier")
else:
 print ("rihno is heavier")

both equal
rihno is heavier

In [9]:
hippo = 800
rhino = 800

if(hippo > rhino):
 print ("hippo is heavier")
elif (hippo == rhino):
    print ("both same weight")
else:
 print ("rihno is heavier")

both same weight

In [ ]:
# Problem statement 2:
'''
Depending on the marks obtained by students give a grade
Perc >= 60 ==> First Division
Perc between 50 & 59 ==> Second Division
Perc between 40 & 49 ==> Third Division
Perc less than 40 ==> Fail 
'''

In [10]:
student_name = 'Easvar';
total_mark = 100
mark_obtained = 70
percentage = (mark_obtained/total_mark)*100
print (percentage)

70.0

In [11]:
student_name = 'Easvar';
total_mark = 100;
mark_obtained = 70;
perc = (mark_obtained/total_mark)*100;
if (perc >= 60):
    print ("First division");
elif (perc >= 50 and perc <= 59):
     print ("second div");
elif (perc >= 40 and perc <= 49):
    print ("thrd div");
else:
    print ("Fail");

First division

In [12]:
student_name = 'Easvar';
total_mark = 100;
mark_obtained = 10;
perc = (mark_obtained/total_mark)*100;
if (perc >= 60):
    print ("First division");
elif (perc >= 50 and perc <= 59):
     print ("second div");
elif (perc >= 40 and perc <= 49):
    print ("thrd div");
else:
    print ("Fail");

Fail

In [13]:
student_name = 'Easvar';
total_mark = 100;
mark_obtained = 50;
perc = (mark_obtained/total_mark)*100;
if (perc >= 60):
    print ("First division");
elif (perc >= 50 and perc <= 59):
     print ("second div");
elif (perc >= 40 and perc <= 49):
    print ("thrd div");
else:
    print ("Fail");

second div

In [16]:
a = 0;
    while (a < 3):
        print (a);

IndentationError: unexpected indent (1814369353.py, line 2)

In [ ]:
# gives infinite 0, loop will never end
a=0
while (a<3):
    print (a)

In [24]:
a=0
while (a<4):
    print (a)
    a = a+1

0
1
2
3

In [28]:
temp = 100
while (temp>=95):
    print (temp)
    temp = temp -1
else:
    print ("reaches critical temp")

100
99
98
97
96
95
reaches critical temp

In [33]:
temp = 100
while (temp>=95):
    print (temp)
    temp = temp-1
else:
    print ("reaches critical temp")

100
99
98
97
96
95
reaches critical temp

In [ ]:
# break the loop

In [36]:
var = 1
while (var <= 10):
    print (var)
    var = var+1

1
2
3
4
5
6
7
8
9
10

In [37]:
var = 1
while (var <= 10):
    if (var==7):
        break
    print (var)
    var = var+1

1
2
3
4
5
6

In [38]:
var = 1
while (var <= 10):
    if (var==7):
        continue
    print (var)
    var = var+1

1
2
3
4
5
6

KeyboardInterrupt:

In [40]:
var = 1
while (var <= 10):
    if (var==7):
        continue
    print (var)
    var = var+1

1
2
3
4
5
6

KeyboardInterrupt:

In [45]:
#due indentation in line 4 is the issue
var = 1
while (var <= 10):
    if (var==7):
    var = var+1
        continue
    print (var)

IndentationError: expected an indented block after 'if' statement on line 3 (495200908.py, line 4)

In [52]:
var = 1
while (var <= 10):
    if (var==7):
        var = var+1
        continue
    print (var)
    var = var+1 #

1
2
3
4
5
6
8
9
10

In [53]:
var = 1
while (var <= 10):
    if (var==7):
        var = var+1
        continue
    print (var)
    var = var+1 #without this it will execute infinite loop in 1

1
2
3
4
5
6
8
9
10

In [ ]:
# take 5 input of employess

In [54]:
a=0
while (a<6):
    name = input("enter your name")
    print (name)
    a = a+1

enter your name Easvar

Easvar

enter your name syed

syed

enter your name mohammed

mohammed

enter your name xxxx

xxxx

enter your name yyyy

yyyy

enter your name eeee

eeee

In [55]:
a=0
while (a<5):
    name = input("enter your name")
    print (name)
    a = a+1

enter your name easvar

easvar

enter your name cibe

cibe

enter your name gayathri

gayathri

enter your name iniyan

iniyan

enter your name dhanalakshmi

dhanalakshmi

In [57]:
a=0
while (a<=5):
    name = input("enter your name")
    print (a)
    a = a+1

enter your name a

0

enter your name a

1

enter your name a

2

enter your name a

3

enter your name a

4

enter your name a

5

In [59]:
a=0
while (a<=5):
    name = input("enter your name")
    print (name)
    a = a+1
else:
    print ("sorry,limit exceed")

enter your name easvar

easvar

enter your name iniyan

iniyan

enter your name gayathri

gayathri

enter your name shanmugam

shanmugam

enter your name dhalakshmi

dhalakshmi

enter your name cibe

cibe
sorry,limit exceed

In [65]:
for ctr in range(1,6,1):
    print (ctr)

1
2
3
4
5

In [71]:
for ctr in range(0,6,1):
    print (ctr)

0
1
2
3
4
5

In [73]:
emp1 = ['Easvar','K.S',25,'M',2100.50,'abc@gmail.com']
print (emp1)

['Easvar', 'K.S', 25, 'M', 2100.5, 'abc@gmail.com']

In [74]:
type(emp1)

list

In [75]:
type (emp1[0])

str

In [79]:
int(emp1[4])

2100

In [80]:
print (emp1[4])

2100.5

In [81]:
emp1.append ('IN')

In [82]:
print (emp1)

['Easvar', 'K.S', 25, 'M', 2100.5, 'abc@gmail.com', 'IN']

In [83]:
len(emp1)

7

In [84]:
emp1.index(2100.5)

4

In [87]:
len(emp1)

7

In [94]:
for alphabet in ("hello"):
    print (alphabet)

h
e
l
l
o

In [97]:
for alphabet in ("easvar"):
    for al in ('gayathri'):
        print (al)
    print (alphabet)

g
a
y
a
t
h
r
i
e
g
a
y
a
t
h
r
i
a
g
a
y
a
t
h
r
i
s
g
a
y
a
t
h
r
i
v
g
a
y
a
t
h
r
i
a
g
a
y
a
t
h
r
i
r

In [98]:
emp1 = ['Easvar','K.S',25,'M',2100.50,'abc@gmail.com']
print (emp1)

['Easvar', 'K.S', 25, 'M', 2100.5, 'abc@gmail.com']

In [100]:
emp1[0:5]

['Easvar', 'K.S', 25, 'M', 2100.5]

In [104]:
var=emp1[3]
if(var=='M'):
    print (emp1)
else:
    print ("this is female employess")

['Easvar', 'K.S', 25, 'M', 2100.5, 'abc@gmail.com']

In [107]:
var=emp1[3]
for ctr in emp1:
    if(var=='M'):
        print (emp1)
else:
    print ("this is female employess")

['Easvar', 'K.S', 25, 'M', 2100.5, 'abc@gmail.com']
['Easvar', 'K.S', 25, 'M', 2100.5, 'abc@gmail.com']
['Easvar', 'K.S', 25, 'M', 2100.5, 'abc@gmail.com']
['Easvar', 'K.S', 25, 'M', 2100.5, 'abc@gmail.com']
['Easvar', 'K.S', 25, 'M', 2100.5, 'abc@gmail.com']
['Easvar', 'K.S', 25, 'M', 2100.5, 'abc@gmail.com']
this is female employess

In [109]:
for var in emp1:
    print (var)

Easvar
K.S
25
M
2100.5
abc@gmail.com

In [112]:
var = emp1[3]
if(var=='M'):
    print (emp1)
else:
    print("soory, it is female employee")

['Easvar', 'K.S', 25, 'M', 2100.5, 'abc@gmail.com']

In [115]:
var = emp1[3]
if(var=='M'):
    for ctr in emp1:
    print (ctr)
else:
    print("soory, it is female employee")

IndentationError: expected an indented block after 'for' statement on line 3 (54992869.py, line 4)

In [134]:
for var in emp1:
    if (var=='M'):
        print (var, "Male")
    print (var)

Easvar
K.S
25
M Male
M
2100.5
abc@gmail.com

In [135]:
for var in emp1:
    if (var=='M'):
        print (var, "Male")
        continue
    print (var)

Easvar
K.S
25
M Male
2100.5
abc@gmail.com

In [136]:
for var in emp1:
    if (var=='M'):
        print ("Male")
        continue
    print (var)

Easvar
K.S
25
Male
2100.5
abc@gmail.com

In [141]:
check = emp1[3]
if (check == 'M'):
    for var in emp1:
        if (var=='M'):
            print ("Male")
        continue
        print (var)

Male

In [143]:
check = emp1[3]
if(check == 'M'):
    for var in emp1:
        if (var == 'M'):
            print('male')
            continue
        print (var)

Easvar
K.S
25
male
2100.5
abc@gmail.com

In [144]:
emp2 = ['gayathri','D',25,'F',2100.50,'abc@gmail.com']

In [145]:
check = emp2[3]
if(check == 'M'):
    for var in emp1:
        if (var == 'M'):
            print('male')
            continue
        print (var)
else:
    print("female emp")

female emp

In [146]:
# Create an empty list to store employee names
employee_list = []

# Ask the user to input 5 employee names
for i in range(5):
    name = input("Enter the name of employee {}: ".format(i+1))
    employee_list.append(name)

# Print the list of employees
print("\nList of Employees:")
for employee in employee_list:
    print(employee)

Enter the name of employee 1:  easvar
Enter the name of employee 2:  ks
Enter the name of employee 3:  dd
Enter the name of employee 4:  df
Enter the name of employee 5:  aa

List of Employees:
easvar
ks
dd
df
aa

In [147]:
print (employee_list)

['easvar', 'ks', 'dd', 'df', 'aa']

In [153]:
employee_list = []
for i in range (0,5,1):
    name = input("name of emp")
    employee_list.append(name)
    
print('Emp list is: ', employee_list)

name of emp a
name of emp b
name of emp c
name of emp d
name of emp e

Emp list is:  ['a', 'b', 'c', 'd', 'e']

In [ ]:
employee_list = []
for i in range (0,5,1):
    name = input("name of emp")
    employee_list.append(name)
    
print('Emp list is: ', employee_list)